Host dashlab 
  HostName teleport-jump.dashlab.in
  User dashlab

Host colva2peercompute 
	HostName colva2.dashlab.in
	User peercompute
	IdentityFile /home/peercompute/.ssh/id_peercompute
	IdentitiesOnly yes
	# 10.1.19.76 

Host colva3peercompute
	HostName colva3.dashlab.in
	User peercompute
	IdentityFile /home/peercompute/.ssh/id_peercompute
	IdentitiesOnly yes

Host colva4peercompute
	HostName colva4.dashlab.in
	User peercompute
	IdentityFile /home/peercompute/.ssh/id_peercompute
	IdentitiesOnly yes

Host anjuna2peercompute
	HostName anjuna2.dashlab.in
	User peercompute
	IdentityFile /home/peercompute/.ssh/id_peercompute
	IdentitiesOnly yes
	# 10.1.19.73

Host anjuna3peercompute
	HostName anjuna3.dashlab.in
	User peercompute
	IdentityFile /home/peercompute/.ssh/id_peercompute
	IdentitiesOnly yes
	# 10.1.19.74

Host .18
	Hostname 10.8.1.18
	User user
	Port 222
