asgiref
asttokens
async-timeout
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
Django
django-cors-headers
docker
exceptiongroup
executing
fonttools
hungarian-algorithm
idna
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jedi
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
paho-mqtt
pandas
parso
pexpect
pika
pillow
platformdirs
prompt-toolkit
psutil
psycopg
ptyprocess
PuLP
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
six
sqlparse
stack-data
supabase
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
widgetsnbextension
zmq
